@import "tailwindcss";

/* Your custom scrollbar hiding trick */
@layer utilities {
  .scrollbar-hide::-webkit-scrollbar {
      display: none;
  }
  .scrollbar-hide {
      -ms-overflow-style: none;
      scrollbar-width: none;
  }
}
.custom-scrollbar::-webkit-scrollbar { width: 8px; }
.custom-scrollbar::-webkit-scrollbar-track { background: #0f172a; border-radius: 8px; }
.custom-scrollbar::-webkit-scrollbar-thumb { background: #334155; border-radius: 8px; }
.custom-scrollbar::-webkit-scrollbar-thumb:hover { background: #475569; }